.navbar-button {
    position: relative;
    padding-bottom: 5px; /* biar ada ruang buat garis bawah */
}

.navbar-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease;
}

.navbar-button:hover::after {
    width: 100%;
}
